<div class="main">
    <div class="main_row">
        <div class="page_area">
            <app-header></app-header>
            <div class="sidebar_area">
                <app-sidebar></app-sidebar>
            </div>
            <div class="content_area">
                <div class="listing-grid pt-0">
                    <div class="game-heading">
                        <span class="card-header-title">
                            Live Worli
                        </span>
                    </div>
                    <div class="card-content mt-4">
                        <div class="row mr-ml-10">
                            <div class="col-md-4 div-figure mb-3">
                                <a routerLink="/worli-matka">
                                    <img class="img-fluid" src="https://dzm0kbaskt4pv.cloudfront.net/v2/static/img/worli/worli-matka.jpg">
                                </a>
                            </div>
                            <div class="col-md-4 div-figure mb-3">
                                <a routerLink="/instant-worli">
                                    <img class="img-fluid" src="https://dzm0kbaskt4pv.cloudfront.net/v2/static/img/worli/instant-worli.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>