<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="uISERVICE.errorMsg">
    <strong></strong> {{uISERVICE.Message}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="alert alert-success alert-dismissible fade show" role="alert" *ngIf="uISERVICE.sucMsg">
    <strong></strong> {{uISERVICE.Message}}.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>